.automation{
	background-color: #1a1a1a;
	min-height: 1060px;
	width: 100%;
	text-align: center;	
	color: #d2d2d2;

}

.automation>h1{
	font-size: 32px;
	color: #016aad;
	font-family: "Open Sans";
	padding: 30px 0 25px 0;
	margin: 0;
}

.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card{
	text-align: center;
	font-family: "Open Sans";
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 310px;
	height: 475px;
	box-shadow: 0.5px 0.866px 10px rgba(0,0,0,0.75);
	margin: 5px;
}

.card>img{
	margin-top: 20px;
	margin-bottom: 30px;
	width: 200px;
	height: 200px;
	border-radius: 100px;
	border: none;
}

.card>h3{
	color: #016aad;
	font-size: 20px;
	margin: 0;
}

.card>p{
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 16px;
	max-width: 240px;
	line-height: 22px
}

.card>button{
	margin-bottom: 20px;
}

.cardimage{
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

