@media screen and (min-width: 640px) and (max-width: 959px){
	
	/*=================== CONTACT HEADER ===================*/

	.icons img{
		display: initial;
	}

	.contact-header{
		width: 100%;
		position: fixed;
		top: 0;
		justify-content: space-between;
	}

	.number{
		justify-content: space-between;
	}

	/*=================== NAVBAR ===================*/

	nav{
		top: 50px;
		background: rgba(0,0,0,0.6);
		font-size: 14px;
	}

	nav img{
		display: initial;
		height: 50px;
		width: auto;
	}

	.items {
		width: 384px;
		justify-content: space-between;
	}

	.items a{
		color: white;
		width: auto;
	}

	.items a:hover{
		color: #016aad;
	}

	#underbar{
		display: none;
	}

	#contact{
		padding-right: 20px;
	}

	.section-text{
		margin: auto;
	}

	/*=================== FOOTER ===================*/

	footer{
		padding: 20px 0 0 0;
	}

	.foot>p{
		display: initial;
	}

	
}

@media screen and (min-width: 960px){
	
	/*=================== CONTACT HEADER ===================*/

	.icons img{
		display: initial;
	}

	.contact-header{
		width: 100%;
		position: fixed;
		top: 0;
		justify-content: space-between;
	}

	.number{
		justify-content: space-between;
	}

	/*=================== NAVBAR ===================*/

	nav{
		top: 50px;
		background: rgba(0,0,0,0.6);
		font-size: 14px;
	}

	nav img{
		display: initial;
		height: 50px;
		width: auto;
	}

	.items {
		width: 384px;
		justify-content: space-between;
	}

	.items a{
		color: white;
		width: auto;
	}

	.items a:hover{
		color: #016aad;
	}

	#underbar{
		display: none;
	}

	#contact{
		padding-right: 20px;
	}

	/*=================== HERO AREA ===================*/

	.heroimage{
		margin-top: 50px;
		background-size: cover;
	}

	.hero{
		grid-template-areas: ". text-area";
	}

	#herotext{
		text-align: initial;
		justify-self: left;
	}

	/*=================== SECTION ===================*/

	.section{
		flex-direction: row;
		height: 520px;
		justify-content: space-around;
	}

	.section>.img{
		width: 400px;
		height: 300px;
		border-radius: 20px;
		background-size: cover;
	}

	.multi>div{
		flex-direction: row-reverse;
	}

	/*=================== CALL TO ACTION ===================*/

	.call{
		flex-direction: row;
	}

	.call form{
		max-width: 400px;
		margin: 0 28px;
	}

	.call form input{
		margin-bottom: 30px;
	}

	/*=================== FOOTER ===================*/

	.left-footer{
		display: flex;
		width: 480px;
	}

	footer{
		padding: 20px 0 0 0;
	}

	.foot>p{
		display: initial;
	}
}