@import url('header.css');
@import url('hero.css');
@import url('automation.css');
@import url('section.css');
@import url('product.css');
@import url('calltoaction.css');
@import url('footer.css');

* {
	margin: 0;
	padding: 0;
}

button:hover{
	cursor: pointer;
}

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

.container{
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
}